<% @links.each do |link| %>
  <div>
    <h2>
      <%= link_to link.title, admins_link_path(link) %><br>
      <small>Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
    </h2>
  </div>
<% end %>
